body > iframe#sbi-dialog-frame[data-c45ng3u9] {
  all: initial !important;
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  z-index: 2147483647 !important;
}

body > iframe#sbi-dialog-frame.sbi-dialog-frame-hidden[data-c45ng3u9] {
  display: none !important;
}
