body > iframe#sbi-select-frame[data-c45ng3u9] {
  all: initial !important;
  position: fixed !important;
  bottom: 0 !important;
  left: 50% !important;
  width: 100% !important;
  max-width: 602px !important;
  height: 48px !important;
  transform: translateX(-50%) !important;
  z-index: 2147483647 !important;
}

/* xs phones */
@media (max-width: 372px) {
  body > iframe#sbi-select-frame[data-c45ng3u9] {
    height: 80px !important;
  }
}

body > iframe#sbi-select-frame.sbi-frame-hidden[data-c45ng3u9] {
  visibility: hidden !important;
}
