body > iframe#sbi-select-frame[data-c45ng3u9] {
  all: initial !important;
  position: fixed !important;
  bottom: 0 !important;
  left: 50% !important;
  width: 100% !important;
  max-width: 416px !important;
  height: 64px !important;
  transform: translateX(-50%) !important;
  z-index: 2147483647 !important;
}

body > iframe#sbi-select-frame.sbi-frame-hidden[data-c45ng3u9] {
  visibility: hidden !important;
}
