{
  'presets': [
    [
    'env', {
      'targets': {'firefox': 52},
      'exclude': ['transform-regenerator']
      }
    ]
  ],
  'env': {
    'production': {
      'plugins': ['lodash']
    }
  }
}
