.section-desc,
.section-title,
.option-title,
option,
select {
  color: #444;
}

option,
select {
  font-size: 16px;
}

.section-title {
  font-size: 28px;
  padding-top: 24px;
}

.section-desc {
  opacity: 0.7;
  font-size: 16px;
  padding-top: 8px;
}

.option-wrap {
  display: grid;
  grid-row-gap: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.option {
  display: flex;
  align-items: center;
  height: 32px;
}

.option-title {
  font-size: 20px;
  padding-left: 12px;
  padding-right: 8px;
}
