{
  "presets": [
    [
      "@babel/env",
      {
        "exclude": ["transform-regenerator"]
      }
    ]
  ],
  "env": {
    "production": {
      "presets": [["minify", {"deadcode": false}]]
    }
  }
}
